/*font-family: 'Finger Paint', cursive;
font-family: 'Lato', sans-serif;*/

/* === BODY ELEMENTS === */
body {
   /*max-width: 97%;*/
   /*align-items: center;*/
   background-image: url("../img/background_bs.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: #00506C;
   display: flex;
   flex-direction: column;
   /*align-items: center;*/
   justify-content: center;
}

/* ================== NAV & MESSAGE SECTION ELEMENTS =========== */
.navi {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   overflow: visible;
}
.logo {
   height: 15%;
   font-family: 'Finger Paint', cursive;
   font-size: 55px;
   font-weight: bold;
   align-self: flex-start;
   width: 80%;
   text-shadow:
            -2px 2px 1px black,
            -5px 5px 10px #FEFEFE,
            0px 4px 5px #FEFEFE,
            4px 4px 5px #FEFEFE,
            3px -1px 5px #FEFEFE;
   color: #085368;
}
.menuImg {
   /*margin-left: auto;*/
   cursor: pointer;
}
.messageContainer {

   height: 50px;
   max-width: 100%;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}
.start {
   transform: translate( 200px, 0px);
}
.messageHero, .messageEnemy {
   width: 40%;
   text-align: center;
   vertical-align: bottom;
   font-size: 23px;
   font-family: 'Lato', sans-serif;
   /*margin-bottom: 10px;*/
   color: #FEFEFE;
   text-shadow:
      -1px 1px 5px black,
      -4px 4px 10px #0B627C,
      4px 4px 10px #0B627C,
      -4px -4px 10px #0B627C,
      4px -4px 10px #0B627C;
}
.messageSpacer {
   width: 30%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(255,255,255,.95);
    white-space: nowrap;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-overflow: clip;
}
.navDiv {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Finger Paint', cursive;
    color: #A6A6A6;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    transition: 0.3s;
    cursor: pointer;
}
.sidenav div:hover {
    color: #00506C;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    cursor: pointer;
    margin-top: 15px;
    /*margin-left: 50px;*/
}
.navSub {
   display: none;
}
.navSub p {
   font-size: 15px;
   font-family: 'Lato', sans-serif;
   color: #00506C;
   white-space:normal;
}

/* ======================== BOARD SECTION ======================= */
.container {
   display: flex;
   justify-content: space-around;
   height: 450px;
   overflow: auto;
}
.goWrapper {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.goBtn {
   height: 100px;
   width: 175px;
   background: #095268;
   opacity: .95;
   border: 3px solid #FEFEFE;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.goBtnText {
   font-family: 'Finger Paint', cursive;
   font-size: 50px;
   color: white;
   text-shadow:
      -2px 2px 1px black;
      /*-5px 5px 10px #FEFEFE,
      0px 4px 5px #FEFEFE,
      4px 4px 5px #FEFEFE,
      3px -1px 5px #FEFEFE,
      -3px -3px 5px #FEFEFE;*/
}
.board {
   /*height: 400px;*/
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   /*width: 850px;*/
}
.vert {
   width: 80px;
}
.vertBtn {
   width: 80px;
   line-height: 40px;
   text-align: center;
   overflow-wrap: normal;
   font-size: 14px;
   font-family: 'Lato', sans-serif;
   border: 1px solid silver;
   border-radius: 15px;
   background-color: #1E6B34;
   opacity: .85;
   cursor: pointer;
   color: #fff
}
.reset {
   width: 80px;
}
.resetBtn {
   width: 80px;
   line-height: 40px;
   text-align: center;
   overflow-wrap: normal;
   font-size: 14px;
   font-family: 'Finger Paint', cursive;
   border: 1px solid silver;
   border-radius: 15px;
   background-color: green;
   opacity: .85;
   cursor: pointer;
}

/* ======================= SQUARES SECTION ===================== */
.hero, .enemy {
   height: 400px;
   width: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.heroRow, .enemyRow {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}
.heroSq, .enemySq {
   width: 95px;
   height: 95px;
   border: 1px solid black;
   /*opacity: .75;*/
   transform: scale(1);
   transform: rotate(0deg);
   border-radius: 5px;
   /*animation-name: zip-in;
   animation-duration: 1s;
   animation-iteration-count: 1;*/
   /*animation-delay: 2000ms;*/
   /*display: none;*/
   cursor: pointer;
}
.hidden {
   display: none;
}
.enemySq {
   background-color: #FEFEFE;
}
.bg {
   background-color: #FEFEFE;
}
.bb {
   background-color: blue;
   opacity: .90;
}
.us {
   border-radius: 25%;
   /*background-color: */
}

/* ==================== GAME BOARD ANAIMATIONS ======================= */
.hit {
   background-color: red;
   opacity: .90;
}
.miss {
   background-color: yellow;
   opacity: .25;
}

/* ===================== BOTTOM INFO SECTION ========================== */
.info {
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.infoHeader {
   height: 25px;
   width: 95%;
   /*background-color: yellow;*/
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.boatsHeader, .enemyHeader, .coconutHeader, .notsureyetHeader {
   /*background-color: green;*/
   width: 25%;
   height: inherit;
   text-align: center;
   vertical-align: bottom;
   font-size: 15px;
   color: #F9EFE5;
   text-shadow: -5px 5px 5px black;
   cursor: default;
}
.spacerHeader {
   width: 10%;
}
.boatsHeader {
   font-family: 'Lato', sans-serif;
   font-size: 18px;
   padding-top: 3px;
}
.enemyHeader {
   font-family: 'Finger Paint', cursive;
   padding-top: 5px;
}

/* =================== BOTTOM INFO SUB SECTIONS ====================== */
.infoWrapper {
   width: 95%;
   height: 200px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.boats, .enemyboats, .coconutWrapper, .notsureyet {
   width: 25%;
   height: inherit;
}
.spacer {
   width: 10%;
}
.boats,  .coconutWrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.enemyboats {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#cat  {
   max-height: 100%;
   max-width: 50%;
   border-radius: 20px;
   /*THANKS: https://css-tricks.com/*/
   -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}
.boats_sub {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}
.boats_sub_em {
   height: 50%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
#traw {
   max-height: 50%;
   max-width: 100%;
   /*max-width: 50%;*/
   border-radius: 20px;
   /*THANKS: https://css-tricks.com/*/
   -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}
#dingy, #skif {
   width: 100%;
   max-width: 125px;
   border-radius: 10px;
   /*THANKS: https://css-tricks.com/*/
   -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}
#fish {
   width: 100%;
   max-width: 150px;
   border-radius: 10px;
   /*THANKS: https://css-tricks.com/*/
   -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}
#skif {
   max-width: 50%;
}
#toon {
   height: 100%;
   max-width: 50%;
   border-radius: 10px;
   /*THANKS: https://css-tricks.com/*/
   -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}
.notplaced {
   opacity: .25;
}
#cocoTree {
   transform: scale(.65) translate(0px, -25px);
   max-width: 115%;
}
#cocoTreeBack {
   -moz-transform: scaleX(-.65) scaleY(.65);
   -o-transform: scaleX(-.65) scaleY(.65);
   -webkit-transform: scaleX(-.65) scaleY(.65);
   transform: scaleX(-.65) scaleY(.65) translate(0px, -25px);
   filter: FlipH;
   -ms-filter: "FlipH";
   max-width: 115%;
}
.hide {
   display: none;
}

@keyframes zip-in {
  0% {transform: rotate(360deg);}
  /*10% {transform: scale(1.45)}*/
  50% {transform: rotate(180deg);}
  /*90% {transform: scale(1.05)}*/
  100% {}
}
