* {
   /*border: .25px solid black*/
}

/*font-family: 'Finger Paint', cursive;
font-family: 'Lato', sans-serif;*/

body {
   max-width: 1250px;
   align-items: center;
   background-image: url("../img/background.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: #085368;
}

nav {
   display: flex;
   flex-direction: row;
}

.logo {
   height: 15%;
   font-family: 'Finger Paint', cursive;
   font-size: 50px;
   font-weight: bold;
   align-self: flex-start;
   width: 80%;
}

img {
   margin-left: auto;
}

.container {
   display: flex;
   justify-content: space-around;
   height: 500px;
}

.board {
   /*height: 400px;*/
   display: flex;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.hero {
   height: 400px;
   width: 475px;
}

.enemy {
   height: 400px;
   width: 475px;
}

.info {
   height: 150px;
}
